ref:
https://www.kaggle.com/code/adi0509/spam-detection-logistic-regression

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('spam_dataset.csv', sep='\t')

In [3]:
df.head()

  Label                                              Email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['Label'].value_counts()

ham     4825
spam     747
Name: Label, dtype: int64

In [5]:
# map date from (ham , spam) --> (0,1)
df['Label'] = df['Label'].map({'ham':0, 'spam':1})

In [6]:
df.head()

   Label                                              Email
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
# now we need to convert emails to numerical data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['Email'], 
                                                    df['Label'], 
                                                    test_size =0.2, 
                                                    random_state=1)
vec = CountVectorizer(stop_words='english')

In [8]:
training_data = vec.fit_transform(X_train).toarray()

testing_data = vec.transform(X_test).toarray()

In [9]:
testing_data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
data = pd.DataFrame(training_data, columns= vec.get_feature_names())

c:\Users\Yousef\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [11]:
data.head()

,00,000,008704050406,0121,01223585236,01223585334,0125698789,02,0207,02072069400,...,zed,zeros,zhong,zindgi,zoe,zoom,zouk,zyada,èn,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
model = LogisticRegression(random_state=0).fit(training_data, y_train)

In [13]:
predictions = model.predict(testing_data)

In [14]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
#Evaluations
from sklearn.metrics import accuracy_score

In [16]:
print(f'accuracy = {accuracy_score(y_test, predictions)}')

accuracy = 0.9838565022421525